.title {
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list_of_skills {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
