.block {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  border-radius: 6px;
  border: 1px solid #acccff;
  background-color: #fff;
  padding: 12px 16px;
}

.block:hover {
  border-color: #1d6bf3;
  cursor: pointer;
}

.content {
  display: flex;
  gap: 12px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
