.main {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info {
    width: 100%;
}

.paragraphFirst {
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--Green, #87CC9E);
    margin-right: 8px;
}

.paragraphSecond {
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--Green-light, #C2E5CE);
}

.paragraphBlock {
    display: flex;
    position: relative;
}

.infoBlock {
    display: flex;
    align-items: center;
    gap: 4px;
}

.block__second {
    gap: 24px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.like {
    position: absolute;
    right: 40px;
    top: 90px;
}

.title {
    font-weight: 500;
    padding-bottom: 16px;
}

.list {
    margin-right: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
    max-width: 700px;
}

.vacancies__tab {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-right: 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
}

.title_second {
    margin-top: 24px;
}

.profession {
    display: flex;
    padding-bottom: 16px;
}

.icon {
    color: #5A9BFF;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 24px;
}

.cardsBlock {
    margin-top: 16px;
}

.flex_row {
    display: flex;
    gap: 24px;
}

.sidebar {
    background-color: #F1F6FF;
    max-width: 354px;
    padding: 44px 40px 50px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.image {
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    font-weight: 500;
}

.name_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 28px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.contacts_element {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.contacts_row {
    display: flex;
    gap: 12px;
}

.info_bottom {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}