.popup {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}

.clear {
  display: flex;
  justify-content: flex-end;
  margin: 12px 0 20px;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.filters {
  background-color: white;
  min-width: 716px;
  padding: 32px;
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
}

.buttonDrop {
  background-image: url('assets/images/close.svg');
  padding: 0;
  background-color: white;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filters__block {
  display: flex;
  justify-content: space-between;
}

.condition {
  width: 422px;
}

.employment {
  width: 206px;
}

.conditionBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 16px;
}

.city {
  width: 206px;
}

.salary {
  width: 126px;
  margin-right: 4px;
}

.currency {
  width: 76px;
  text-align: center;
}

.forthInput {
  width: 314px;
}

.buttonBlock {
  display: flex;
  justify-content: end;
  margin-top: 8px;
}

.buttonHide {
  width: 196px;
  margin-right: 16px;
}

.buttonSearch {
  width: 176px;
}
