.header {
  display: flex;
  gap: 8px;
  padding: 0 20px;
  cursor: pointer;
}

.avatar {
  width: 44px;
  height: 44px;
  margin-right: 8px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
