:root {
  /* Main colors */
  --black-900: #1a1b22;
  --black-500: #797981;
  --black-300: #b5b5b7;
  --black-100: #dde0e4;
  --grey: #f9fafb;
  --white: #ffffff;

  --blue: #5a9bff;
  --blue-main: #1d6bf3;
  --blue-bg: #f1f6ff;
  --red: #ff0200;

  /* Additional colors */
  --green: #87cc9e;
  --purple: #7f67d2;
  --orange: #ffce92;
  --green-light: #c2e5ce;
  --purple-light: #ccc2ed;
  --orange-light: #ffe1bd;
  --rose: #ffdde5;
  --yellow: #fff9d3;
  --pink: #ffbffd;
  --brown: #a99175;
  --blue-light: #acccff;
}
